@section Styles {
    <link rel="stylesheet" href="~/css/AdminPage.css">
}

@section Scripts {
    <script src="@Url.Content("~/js/card-animations.js")"></script>
    <script src="@Url.Content("https://cdn.jsdelivr.net/npm/fitty@2.3.6/dist/fitty.min.js")"></script>
    <script src="@Url.Content("js/bootstrap.js")"></script>
}
<header class="menu">
    <div class="container-fluid h-100 bootstrap-wrapper">
        <div class="row align-items-center h-100 g-0">
            <!-- Left Section - Logo/Hamburger -->
            <div class="col-auto">
                <div class="d-flex align-items-center">

                    <!-- Desktop Logo -->
                    <svg class="desktop-logo logo" width="33" height="33" viewBox="0 0 40 40" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.0002 39.1668C17.3807 39.1668 14.905 38.6637 12.5731 37.6575C10.2411 36.6512 8.20468 35.2776 6.4637 33.5366C4.72273 31.7957 3.34912 29.7592 2.34287 27.4272C1.33662 25.0953 0.833496 22.6196 0.833496 20.0002C0.833496 17.3488 1.33662 14.8651 2.34287 12.5491C3.34912 10.2331 4.72273 8.20468 6.4637 6.4637C8.20468 4.72273 10.2411 3.34912 12.5731 2.34287C14.905 1.33662 17.3807 0.833496 20.0002 0.833496C22.6516 0.833496 25.1352 1.33662 27.4512 2.34287C29.7672 3.34912 31.7957 4.72273 33.5366 6.4637C35.2776 8.20468 36.6512 10.2331 37.6575 12.5491C38.6637 14.8651 39.1668 17.3488 39.1668 20.0002C39.1668 22.6196 38.6637 25.0953 37.6575 27.4272C36.6512 29.7592 35.2776 31.7957 33.5366 33.5366C31.7957 35.2776 29.7672 36.6512 27.4512 37.6575C25.1352 38.6637 22.6516 39.1668 20.0002 39.1668ZM20.0002 35.2377C20.8307 34.0877 21.5495 32.8897 22.1564 31.6439C22.7634 30.3981 23.2585 29.0724 23.6418 27.6668H16.3585C16.7418 29.0724 17.237 30.3981 17.8439 31.6439C18.4509 32.8897 19.1696 34.0877 20.0002 35.2377ZM15.0168 34.471C14.4418 33.4168 13.9387 32.3227 13.5075 31.1887C13.0762 30.0547 12.7168 28.8807 12.4293 27.6668H6.77516C7.70155 29.2641 8.85954 30.6536 10.2491 31.8356C11.6387 33.0175 13.2279 33.896 15.0168 34.471ZM24.9835 34.471C26.7724 33.896 28.3616 33.0175 29.7512 31.8356C31.1408 30.6536 32.2988 29.2641 33.2252 27.6668H27.571C27.2835 28.8807 26.9241 30.0547 26.4929 31.1887C26.0616 32.3227 25.5585 33.4168 24.9835 34.471ZM5.146 23.8335H11.6627C11.5668 23.1946 11.495 22.5637 11.447 21.9408C11.3991 21.3179 11.3752 20.671 11.3752 20.0002C11.3752 19.3293 11.3991 18.6825 11.447 18.0595C11.495 17.4366 11.5668 16.8057 11.6627 16.1668H5.146C4.98627 16.8057 4.86648 17.4366 4.78662 18.0595C4.70676 18.6825 4.66683 19.3293 4.66683 20.0002C4.66683 20.671 4.70676 21.3179 4.78662 21.9408C4.86648 22.5637 4.98627 23.1946 5.146 23.8335ZM15.496 23.8335H24.5043C24.6002 23.1946 24.672 22.5637 24.72 21.9408C24.7679 21.3179 24.7918 20.671 24.7918 20.0002C24.7918 19.3293 24.7679 18.6825 24.72 18.0595C24.672 17.4366 24.6002 16.8057 24.5043 16.1668H15.496C15.4002 16.8057 15.3283 17.4366 15.2804 18.0595C15.2325 18.6825 15.2085 19.3293 15.2085 20.0002C15.2085 20.671 15.2325 21.3179 15.2804 21.9408C15.3283 22.5637 15.4002 23.1946 15.496 23.8335ZM28.3377 23.8335H34.8543C35.0141 23.1946 35.1338 22.5637 35.2137 21.9408C35.2936 21.3179 35.3335 20.671 35.3335 20.0002C35.3335 19.3293 35.2936 18.6825 35.2137 18.0595C35.1338 17.4366 35.0141 16.8057 34.8543 16.1668H28.3377C28.4335 16.8057 28.5054 17.4366 28.5533 18.0595C28.6012 18.6825 28.6252 19.3293 28.6252 20.0002C28.6252 20.671 28.6012 21.3179 28.5533 21.9408C28.5054 22.5637 28.4335 23.1946 28.3377 23.8335ZM27.571 12.3335H33.2252C32.2988 10.7363 31.1408 9.34669 29.7512 8.16475C28.3616 6.9828 26.7724 6.10433 24.9835 5.52933C25.5585 6.5835 26.0616 7.67759 26.4929 8.81162C26.9241 9.94565 27.2835 11.1196 27.571 12.3335ZM16.3585 12.3335H23.6418C23.2585 10.9279 22.7634 9.60225 22.1564 8.35641C21.5495 7.11058 20.8307 5.91266 20.0002 4.76266C19.1696 5.91266 18.4509 7.11058 17.8439 8.35641C17.237 9.60225 16.7418 10.9279 16.3585 12.3335ZM6.77516 12.3335H12.4293C12.7168 11.1196 13.0762 9.94565 13.5075 8.81162C13.9387 7.67759 14.4418 6.5835 15.0168 5.52933C13.2279 6.10433 11.6387 6.9828 10.2491 8.16475C8.85954 9.34669 7.70155 10.7363 6.77516 12.3335Z"
                            fill="#CFEFFF" />
                    </svg>
                </div>
            </div>

            <!-- Middle Section - Exit Admin view -->
            <div class="col flex-nowrap align-items-center">
                <div class=" d-flex align-items-center  justify-content-center" style="postion: absolute;">
                    <button class="exit-admin-btn " onclick="location.href='@Url.Action("homePage", "Home")'">
                        Exit Admin view
                    </button>
                </div>
            </div>

            <!-- Right Section - Profile -->
            <div class="col-auto flex-nowrap">
                <div class="signlog-container">
                    <!-- PNG version for large screens -->
                    <img class="profile-icon d-none d-xl-block" src="~/imgs/B&W IAU Logo (Horizontal).png"
                        alt="IAU Logo">

                    <!-- SVG version for smaller screens -->
                    <img class="profile-icon d-none d-sm-block d-xl-none" src="~/imgs/B&W IAU Logo.png" alt="IAU Logo">
                </div>
            </div>
        </div>
    </div>


</header>

<!--the statistics part of the admin page-->
<div class="dashboard-container">
    <!-- Main Rectangle Container -->
    <div class="dashboard-rectangle">
        <div class="main-row">
            <!-- Left Section - Charts -->
            <div class="charts-section">
                <div class="row g-0 flex-fill">
                    <!-- Donut Chart -->
                    <div class="col-md-6">
                        <div class="chart-section">
                            <div class="chart-title">University Rules and Guidelines Overview</div>
                            <div class="donut-chart-container">
                                <div class="donut-chart-canvas">
                                    <canvas id="chartCanvas"></canvas>
                                </div>
                                <div class="legend-container">
                                    <div class="legend-item">
                                        <div class="legend-color" style="background-color: #8B4513;"></div>
                                        <span class="legend-text">Academic rules</span>
                                        <span class="legend-percentage">40%</span>
                                    </div>
                                    <div class="legend-item">
                                        <div class="legend-color" style="background-color: #2E8B57;"></div>
                                        <span class="legend-text">Employment rules & regulations</span>
                                        <span class="legend-percentage">30%</span>
                                    </div>
                                    <div class="legend-item">
                                        <div class="legend-color" style="background-color: #4682B4;"></div>
                                        <span class="legend-text">Student rules & regulations</span>
                                        <span class="legend-percentage">25%</span>
                                    </div>
                                    <div class="legend-item">
                                        <div class="legend-color" style="background-color: #DAA520;"></div>
                                        <span class="legend-text">Student rules & regulations</span>
                                        <span class="legend-percentage">15%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Bar Chart -->
                    <div class="col-md-6">
                        <div class="chart-section">
                            <div class="chart-title">Website visits over the past 6 months</div>
                            <div class="chart-canvas-container">
                                <canvas id="barChartCanvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Vertical Separator -->
            <div class="chart-sidebar-separator"></div>

            <!-- Right Sidebar -->
            <div class="sidebar-section">
                <div class="sidebar-container">
                    <!-- Cards Section -->
                    <div class="sidebar-cards">
                        <!-- Total Policies Card -->
                        <div class="stats-card stats-card-blue">
                            <h6>Total Policies</h6>
                            <div class="number">30</div>
                        </div>

                        <!-- Most Viewed Card -->
                        <div class="stats-card stats-card-green">
                            <h6>Most Viewed</h6>
                            <div class="subtitle">Student Code of Conduct</div>
                            <div class="viewed-text">Viewed: 785 times</div>
                        </div>
                    </div>

                    <!-- Buttons Section -->
                    <div class="sidebar-buttons">
                        <!-- View Report Button -->
                        <button class="btn-custom btn-primary-custom" onclick="viewReport()">
                            View Report
                        </button>

                        <!-- Add New Record Button -->
                        <button class="btn-custom btn-dark-custom"
                            onclick="location.href='@Url.Action("AddNewRecord", "Admin")'">
                            add new record
                        </button>

                        <!-- Export Data Button -->
                        <button class="btn-custom btn-dark-custom" onclick="exportData()">
                            Export Data
                        </button>

                        <!-- Contact Info Button -->
                        <button class="btn-custom btn-dark-custom"
                            onclick="location.href='@Url.Action("AddNewContactInfo", "Admin")'">
                            Add New Contact Info
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="container my-4">
    <section>
        <table class="w-100 ">
            <thead class="text-center">
                <tr>
                    <th class="col-5 d-none d-md-table-cell">
                        <div class="col flex-nowrap align-items-center">
                            <div class="search-container d-flex align-items-center px-2">
                                <button class="search-and-filter-buttons">
                                    <svg class="search-icon" width="44" height="44" viewBox="0 0 44 44" fill="none">
                                        <path
                                            d="M21 29C25.4183 29 29 25.4183 29 21C29 16.5817 25.4183 13 21 13C16.5817 13 13 16.5817 13 21C13 25.4183 16.5817 29 21 29Z"
                                            stroke="#ABB7C2" stroke-width="2" />
                                        <path d="M31.0002 31L26.7002 26.7" stroke="#ABB7C2" stroke-width="2" />
                                    </svg>
                                </button>
                                <input class="search poppins-regular flex-grow-1" type="text"
                                    placeholder="Search by Name/ID..."
                                    style="color: #ABB7C2; background: transparent; border: none;">
                            </div>
                        </div>
                    </th>


                    <th class="col-3 d-none d-md-table-cell">
                        <div class="col flex-nowrap align-items-center">
                            <div class="search-container d-flex align-items-center" id="section-search">
                                <select class="search poppins-regular flex-grow-1" type="text" placeholder="Section"
                                    style="color: #ABB7C2; border: none;">
                                    <option value="" selected disabled>Section</option>
                                    <option>Student</option>
                                    <option>Members</option>
                                    <option>Enrolled Program</option>
                                </select>
                            </div>
                        </div>
                    </th>

                    <th class="col-3 d-none d-md-table-cell">
                        <div class="col flex-nowrap align-items-center">
                            <div class="search-container d-flex align-items-center px-2" id="document-search">

                                <select class="search poppins-regular flex-grow-1"
                                    style="color: #ABB7C2; border: none;">
                                    <option value="" selected disabled>Document type</option>
                                    <option>Regulations</option>
                                    <option>Guidelines</option>
                                    <option>Enrolled Program</option>
                                </select>
                            </div>
                        </div>
                    </th>

                    <th class="col d-none d-md-table-cell">
                        <div class="delete-btn-container d-flex align-items-center px-2">
                            <button class="search-and-filter-buttons">
                                <svg width="35" height="35" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 6H21" stroke="#ABB7C2" stroke-width="2" stroke-linecap="round" />
                                    <path d="M8 6V4C8 3.44772 8.44772 3 9 3H15C15.5523 3 16 3.44772 16 4V6"
                                        stroke="#ABB7C2" stroke-width="2" />
                                    <path d="M19 6V20C19 21.1046 18.1046 22 17 22H7C5.89543 22 5 21.1046 5 20V6"
                                        stroke="#ABB7C2" stroke-width="2" />
                                    <path d="M10 11V17" stroke="#ABB7C2" stroke-width="2" stroke-linecap="round" />
                                    <path d="M14 11V17" stroke=" #ABB7C2" stroke-width="2" stroke-linecap="round" />
                                </svg>
                            </button>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </section>

    <!-- Mobile Search and Filter Section -->
    <section>
        <div class="container">
            <!-- Wrapper with background color -->
            <div class="row gy-3 mb-3 mt-1" style="background-color: #2f3e5f; border-radius: 12px;">
                <!-- Search by Name/ID (Visible only on small screens, hidden on larger screens) -->
                <div class="col-12 d-md-none d-block align-items-center" style="margin-top: 10px;">
                    <div class="search-container d-flex align-items-center w-100"
                        style="border: 2px solid whitesmoke; border-radius: 8px;">
                        <button class="search-and-filter-buttons">
                            <svg class="search-icon" width="44" height="44" viewBox="0 0 44 44" fill="none">
                                <path
                                    d="M21 29C25.4183 29 29 25.4183 29 21C29 16.5817 25.4183 13 21 13C16.5817 13 13 16.5817 13 21C13 25.4183 16.5817 29 21 29Z"
                                    stroke="#ABB7C2" stroke-width="2" />
                                <path d="M31.0002 31L26.7002 26.7" stroke="#ABB7C2" stroke-width="2" />
                            </svg>
                        </button>
                        <input class="search poppins-regular flex-grow-1" type="text" placeholder="Search by Name/ID..."
                            style="color: #ABB7C2; ">
                    </div>
                </div>

                <!-- Section and Document Type Dropdowns (Visible only on small screens, hidden on larger screens) -->
                <div class="col-12 d-md-none d-flex align-items-center gap-0">
                    <!-- Section Dropdown -->
                    <div class="col-6 d-flex align-items-center p-0"
                        style="margin-right: 5px; margin-top: -5px; margin-bottom: 10px;">
                        <div class="search-container d-flex align-items-center w-100" id="section-document-search-2">
                            <select class="search poppins-regular flex-grow-1" style="color: #ABB7C2;">
                                <option value="" selected disabled>Section</option>
                                <option>Student</option>
                                <option>Members</option>
                                <option>Enrolled Program</option>
                            </select>
                        </div>
                    </div>


                    <!-- Document Type Dropdown -->
                    <div class="col-6 d-flex align-items-center p-0"
                        style=" margin-bottom: 10px; margin-left: 5px; margin-top: -5px;">
                        <div class="search-container d-flex align-items-center w-100" id="section-document-search-2">
                            <select class="search poppins-regular flex-grow-1" style="color: #ABB7C2;">
                                <option value="" selected disabled>Document type</option>
                                <option>Regulations</option>
                                <option>Guidelines</option>
                                <option>Enrolled Program</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--base Record-->
    <table class="w-100 custom-header">
        <thead class="text-center">
            <tr>
                <!-- Checkbox - Visible on all screen sizes -->
                <th class="col-1 custom-col">
                    <input type="checkbox" />
                </th>

                <!-- Record ID - Visible on all screen sizes -->
                <th class="col-1 custom-col">
                    ID
                </th>

                <!-- Regulation/Manual Name - Visible on all screen sizes -->
                <th class="col-3 d-table-cell d-sm-table-cell">Regulation/ Manual name</th>

                <!-- Section - Visible on medium screens and up (md) -->
                <th class="col-1 d-none d-md-table-cell">Section</th>

                <!-- Version Number - Visible on medium screens and up (md) -->
                <th class="col-2 d-none d-md-table-cell">Version Number</th>

                <!-- Approving Date - Visible on medium screens and up (md) -->
                <th class="col-2 d-none d-md-table-cell">Approving Date</th>

                <!-- Responsible Entity - Visible on medium screens and up (md) -->
                <th class="col-3 d-none d-md-table-cell">Responsible Entity</th>

                <!-- Empty Column (For actions, like edit/delete, etc.) - Visible on all screen sizes -->
                <th class="d-none d-md-table-cell"></th>
            </tr>
        </thead>
    </table>





    <div class="red-line"></div>

    <div class="accordion" id="regulationAccordion">
        <!-- سجل 1 -->
        <div class="accordion-item" style="height: 88.16px;">
            <h2 class=" accordion-header" id="headingOne">
                <button class="accordion-button collapsed custom-acc-btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <table class="w-100 ">
                        <thead class="text-center">
                            <tr>
                                <th style="padding: 14px 18px;">
                                    <input type="checkbox" />
                                </th>
                                <th class="col-2" style="padding: 14px 18px;">
                                    1
                                </th>
                                <th class="col-3" style="padding: 14px 18px;">Guide to and procedures for
                                    recruiting...</th>
                                <th class="col-1" style="padding: 14px 18px;">Students</th>
                                <th class="col-2" style="padding: 14px 18px;">8.3.4</th>
                                <th class="col-2" style="padding: 14px 18px;">2025/7/4</th>
                                <th class="col-3" style="padding: 14px 18px;">IAU Academic affairs</th>

                            </tr>
                        </thead>
                    </table>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#regulationAccordion">
                <div class="accordion-body">

                    <form>
                        <div class="row mb-2">
                            <!-- العمود الأيسر -->
                            <div class="col-md-6">
                                <table class="table table-borderless mb-0">
                                    <tr>
                                        <td colspan="3">
                                            <label class="form-label fw-bold">Regulation/ Manual name</label>
                                            <textarea class="form-control" rows="2" readonly>
Guide to policies and procedures for recruiting, retaining, terminating, and renewing contracts for non-Saudi faculty members
                        </textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <label class="form-label fw-bold">Brief Description</label>
                                            <textarea class="form-control" rows="4" readonly>
All students are expected to follow the examination rules strictly. Candidates must arrive on time, carry valid identification, and bring only approved materials. Electronic devices are not allowed. Silence must be maintained throughout the exam. Any form of cheating or misconduct will result in disciplinary action. Students may not leave the exam hall without permission and must submit all materials before exiting.
                        </textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1">
                                            <label class="form-label fw-bold">Approving Date</label>
                                            <input type="date" class="form-control mb-2" value="2025-07-07" readonly>
                                        </td>
                                        <td colspan="1">
                                            <label class="form-label fw-bold">Accreditation Date</label>
                                            <input type="date" class="form-control mb-2" value="2025-07-07" readonly>
                                        </td>
                                        <td colspan="2">
                                            <label class="form-label fw-bold">Version Number</label>
                                            <input type="text" class="form-control mb-2" value="10.2.4" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label class="form-label fw-bold">Accrediting Entity</label>
                                            <input type="text" class="form-control" value="IAU Academic affairs"
                                                readonly>
                                        </td>

                                        <td colspan="2">
                                            <label class="form-label fw-bold">Responsible Department</label>
                                            <input type="text" class="form-control"
                                                value="Deanship of Admission and Registration" readonly>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <label class="form-label fw-bold">Note</label>
                                            <input type="text" class="form-control mb-2"
                                                value="this rules came from minstry of education" readonly>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- العمود الأيمن -->
                            <div class="col-md-6">
                                <table class="table table-borderless mb-0">
                                    <tr>
                                        <td>
                                            <label class="form-label fw-bold">Document Type</label>
                                            <select class="form-select mb-2">
                                                <option selected>Regulation</option>
                                                <option>Guidelines</option>
                                                <option>Policies</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="form-label fw-bold">Section</label>
                                            <select class="form-select mb-2">
                                                <option selected>Student</option>
                                                <option>Members</option>
                                                <option>Enrolled Program</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label class="form-label fw-bold">Attach word file</label>
                                            <div class="input-group mb-2">
                                                <input type="text" class="form-control" value="Word file" readonly>
                                                <span class="input-group-text">
                                                    <i class="bi bi-paperclip">
                                                        <svg width="25" height="25" viewBox="0 0 30 30" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M22.4742 12.9867V7.30934C22.4742 7.14686 22.3918 6.99668 22.275 6.87791L15.2784 0.193887C15.1477 0.0689063 14.9622 0 14.7767 0H3.68378C1.63579 0 0 1.51934 0 3.38262V22.4657C0 24.3289 1.63579 25.8234 3.68372 25.8234H12.4399C14.0961 28.3243 17.1066 30 20.5361 30C25.7456 30 30 26.1484 30 21.4027C30.0071 17.2572 26.7354 13.7933 22.4742 12.9868V12.9867ZM15.4641 2.1948L20.1581 6.69029H17.1135C16.2062 6.69029 15.464 6.00885 15.464 5.18355L15.4641 2.1948ZM3.68372 24.5728C2.39862 24.5728 1.37469 23.6348 1.37469 22.4657V3.38262C1.37469 2.20711 2.39862 1.25063 3.68372 1.25063H14.0894V5.18344C14.0894 6.70277 15.4434 7.94086 17.1135 7.94086H21.0996V12.8241C20.8935 12.8179 20.7285 12.799 20.5499 12.799C18.1512 12.799 15.9451 13.637 14.2818 14.9501H5.5533C5.17517 14.9501 4.86596 15.2314 4.86596 15.5752C4.86596 15.9192 5.17511 16.2005 5.5533 16.2005H13.0035C12.5154 16.8258 12.1099 17.4511 11.7939 18.1389H5.55324C5.17511 18.1389 4.86589 18.4202 4.86589 18.7642C4.86589 19.108 5.17504 19.3895 5.55324 19.3895H11.347C11.1752 20.0148 11.0859 20.7088 11.0859 21.4028C11.0859 22.5281 11.3264 23.6412 11.7594 24.5791H3.68372V24.5728ZM20.5431 28.7558C16.0895 28.7558 12.4674 25.4606 12.4674 21.4089C12.4674 17.3572 16.0825 14.062 20.5431 14.062C25.0035 14.062 28.6185 17.3572 28.6185 21.4089C28.6185 25.4606 24.9967 28.7558 20.5431 28.7558Z"
                                                                fill="black" />
                                                            <path
                                                                d="M5.55355 13.0679H12.5157C12.8938 13.0679 13.203 12.7865 13.203 12.4426C13.203 12.0987 12.8939 11.8174 12.5157 11.8174H5.55355C5.17543 11.8174 4.86621 12.0986 4.86621 12.4426C4.86621 12.7865 5.17536 13.0679 5.55355 13.0679ZM21.0312 16.7944C20.9006 16.6694 20.722 16.5944 20.5295 16.5944C20.337 16.5944 20.1584 16.6694 20.0278 16.7944L16.0002 20.7273C15.739 20.9775 15.7597 21.3775 16.0346 21.6089C16.3097 21.8465 16.7562 21.8277 17.0174 21.5778L19.8628 18.8079V25.6357C19.8628 25.9796 20.172 26.2609 20.5501 26.2609C20.928 26.2609 21.2374 25.9797 21.2374 25.6357V18.8079L24.062 21.5778C24.1996 21.7089 24.3783 21.7779 24.564 21.7779C24.7287 21.7779 24.8937 21.7215 25.0312 21.6089C25.3062 21.3713 25.3268 20.9775 25.0656 20.7273L21.0312 16.7944Z"
                                                                fill="black" />
                                                        </svg>
                                                    </i>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <label class="form-label fw-bold">Attach PDF file</label>
                                            <div class="input-group mb-2">
                                                <input type="text" class="form-control" value="PDF file..." readonly>
                                                <span class="input-group-text">
                                                    <i class="bi bi-paperclip">
                                                        <svg width="25" height="25" viewBox="0 0 30 30" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M22.4742 12.9867V7.30934C22.4742 7.14686 22.3918 6.99668 22.275 6.87791L15.2784 0.193887C15.1477 0.0689063 14.9622 0 14.7767 0H3.68378C1.63579 0 0 1.51934 0 3.38262V22.4657C0 24.3289 1.63579 25.8234 3.68372 25.8234H12.4399C14.0961 28.3243 17.1066 30 20.5361 30C25.7456 30 30 26.1484 30 21.4027C30.0071 17.2572 26.7354 13.7933 22.4742 12.9868V12.9867ZM15.4641 2.1948L20.1581 6.69029H17.1135C16.2062 6.69029 15.464 6.00885 15.464 5.18355L15.4641 2.1948ZM3.68372 24.5728C2.39862 24.5728 1.37469 23.6348 1.37469 22.4657V3.38262C1.37469 2.20711 2.39862 1.25063 3.68372 1.25063H14.0894V5.18344C14.0894 6.70277 15.4434 7.94086 17.1135 7.94086H21.0996V12.8241C20.8935 12.8179 20.7285 12.799 20.5499 12.799C18.1512 12.799 15.9451 13.637 14.2818 14.9501H5.5533C5.17517 14.9501 4.86596 15.2314 4.86596 15.5752C4.86596 15.9192 5.17511 16.2005 5.5533 16.2005H13.0035C12.5154 16.8258 12.1099 17.4511 11.7939 18.1389H5.55324C5.17511 18.1389 4.86589 18.4202 4.86589 18.7642C4.86589 19.108 5.17504 19.3895 5.55324 19.3895H11.347C11.1752 20.0148 11.0859 20.7088 11.0859 21.4028C11.0859 22.5281 11.3264 23.6412 11.7594 24.5791H3.68372V24.5728ZM20.5431 28.7558C16.0895 28.7558 12.4674 25.4606 12.4674 21.4089C12.4674 17.3572 16.0825 14.062 20.5431 14.062C25.0035 14.062 28.6185 17.3572 28.6185 21.4089C28.6185 25.4606 24.9967 28.7558 20.5431 28.7558Z"
                                                                fill="black" />
                                                            <path
                                                                d="M5.55355 13.0679H12.5157C12.8938 13.0679 13.203 12.7865 13.203 12.4426C13.203 12.0987 12.8939 11.8174 12.5157 11.8174H5.55355C5.17543 11.8174 4.86621 12.0986 4.86621 12.4426C4.86621 12.7865 5.17536 13.0679 5.55355 13.0679ZM21.0312 16.7944C20.9006 16.6694 20.722 16.5944 20.5295 16.5944C20.337 16.5944 20.1584 16.6694 20.0278 16.7944L16.0002 20.7273C15.739 20.9775 15.7597 21.3775 16.0346 21.6089C16.3097 21.8465 16.7562 21.8277 17.0174 21.5778L19.8628 18.8079V25.6357C19.8628 25.9796 20.172 26.2609 20.5501 26.2609C20.928 26.2609 21.2374 25.9797 21.2374 25.6357V18.8079L24.062 21.5778C24.1996 21.7089 24.3783 21.7779 24.564 21.7779C24.7287 21.7779 24.8937 21.7215 25.0312 21.6089C25.3062 21.3713 25.3268 20.9775 25.0656 20.7273L21.0312 16.7944Z"
                                                                fill="black" />
                                                        </svg>
                                                    </i></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            <label class="form-label fw-bold">Responsible entity’s contact
                                                information:</label>
                                            <div class="mb-1">
                                                <label class="form-label mb-0">Name (English)</label>
                                                <input type="text" class="form-control" value="Azzam Alzahrani"
                                                    readonly>
                                            </div>
                                            <div class="mb-1">
                                                <label class="form-label mb-0">Name (Arabic)</label>
                                                <input type="text" class="form-control" value="عزام الزهراني" readonly>
                                            </div>
                                            <div class="mb-1">
                                                <label class="form-label mb-0">E-mail</label>
                                                <input type="email" class="form-control" value="Azzam@gmail.com"
                                                    readonly>
                                            </div>
                                            <div class="mb-1">
                                                <label class="form-label mb-0">Telephone number</label>
                                                <input type="text" class="form-control" value="3333139-013" readonly>
                                            </div>
                                            <div class="mb-1">
                                                <label class="form-label mb-0">Mobile number</label>
                                                <input type="text" class="form-control" value="0569877695" readonly>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <button class="btn btn-danger">Delete</button>
                                <button class="btn btn-secondary">Edit</button>
                                <button class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


<!--the table part of the admin page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->



<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Initialize charts when page loads
    document.addEventListener('DOMContentLoaded', function () {
        initializeCharts();
    });

    function initializeCharts() {
        // Donut Chart
        const ctx = document.getElementById('chartCanvas').getContext('2d');
        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Academic rules', 'Employment rules & regulations', 'Student rules & regulations', 'Student rules & regulations'],
                datasets: [{
                    data: [40, 30, 25, 15],
                    backgroundColor: ['#8B4513', '#2E8B57', '#4682B4', '#DAA520'],
                    borderWidth: 2,
                    borderColor: '#ffffff'
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                cutout: '60%'
            }
        });

        // Bar Chart
        const barCtx = document.getElementById('barChartCanvas').getContext('2d');
        new Chart(barCtx, {
            type: 'bar',
            data: {
                labels: ['March', 'April', 'May', 'June', 'July', 'August'],
                datasets: [{
                    data: [180, 150, 220, 180, 320, 200],
                    backgroundColor: ['#FF6B6B', '#4ECDC4', '#45B7D1', '#FFA726', '#AB47BC', '#26C6DA'],
                    borderRadius: 4,
                    borderSkipped: false,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 400,
                        grid: {
                            display: true,
                            color: '#e9ecef'
                        },
                        ticks: {
                            stepSize: 100,
                            font: {
                                size: 10
                            },
                            color: '#6c757d'
                        }
                    },
                    x: {
                        grid: {
                            display: false
                        },
                        ticks: {
                            font: {
                                size: 10
                            },
                            color: '#6c757d'
                        }
                    }
                },
                layout: {
                    padding: {
                        top: 10,
                        right: 10,
                        bottom: 10,
                        left: 10
                    }
                }
            }
        });
    }

    // Button functions
    function viewReport() {
        alert('View Report clicked!');
        // Add your functionality here
    }

    function addNewRecord() {
        alert('Add New Record clicked!');
        // Add your functionality here
    }

    function exportData() {
        alert('Export Data clicked!');
        // Add your functionality here
    }

    function contactInfo() {
        alert('Contact Info clicked!');
        // Add your functionality here
    }
</script>
